* {
    margin: 0;
    padding: 0;
}

body {
    background: #F2F2F2;
}

@font-face {
    font-family: 'Helvetica';
    src: url('My fonts/Helvetica.woff2') format('woff2'),
    url('My fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-content {
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    padding: 5px 0 5px;
}

.header-row {
    background: linear-gradient(270deg, #7E00E8 0%, #FF1876 54.17%, #BB0CB2 100%);
    border: 0 solid;
    height: 1px;
}

.svg-title {
    font-family: 'sans-serif', 'Helvetica';
    vertical-align: super;
    margin-left: 5px;
    color: #5A1094
}

.svg-title.cr {
    color: #C90EA5;
    font-size: 12px;
}

.cr-svg {
    position: relative;
    margin-top: 5px;
}

.ca-svg {
    position: absolute;
    left: 80%;
    bottom: 64%;
    width: 30%;
}

.ca-svg-number {
    transform: translate(-95%, -40%);
    position: absolute;
    font-size: 10px;
    color: #FFF;
}
.forms-inputs{
    position: relative;
}
.billing {
    position: absolute;
    top: 0;
}

.payment {
    position: absolute;
    top: 0;
}

.border {
    width: 15px;
    height: 15px;
    border: 1px solid #979797;
    transform: rotate(45deg);
    border-left-color: #ffffff00;
    border-bottom-color: #ffffff00;
    margin-top: 1px;
    margin-right: 15px;
}

.box {
    display: flex;
    width: 59%;
    background: linear-gradient(180deg, #FFFFFF 0%, #FEFEFE 100%);
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    min-width: 760px;
    margin: 50px auto;
}

.container {
    position: relative;
    padding-left: 30px;
    width: 50%;
    padding-bottom: 25px;
    padding-top: 30px;
    height: 75vh;
    padding-right: 30px;
}

.prev {
    font-family: 'sans-serif', 'Helvetica';
    display: flex;
    justify-content: flex-start;
    color: #979797;
    margin-bottom: 25px;
    cursor: pointer;
}

.title {
    font-family: 'sans-serif', 'Helvetica';
    color: #5A1094;
    font-weight: inherit;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 20px;
}

.select-op {
    display: flex;
    justify-content: space-between;
}

.input-title {
    font-family: 'sans-serif', 'Helvetica';
    color: #5A1094;
    font-weight: inherit;
    line-height: 30px;
}

.inp {
    font-family: 'sans-serif', 'Helvetica';
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.inp.inp-invalid {
    transition: all 0.3s;
    background: #ffffdd;
}
.inp-invalid-title{
    opacity: 0;
    visibility: hidden;
    display: none;
}

.inp-phone {
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    position: relative;
    width: 50%;
}

.inp-phone-title {
    font-family: 'sans-serif', 'Helvetica';
    color: #777879;
    font-size: 13px;
    line-height: 17px;
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    margin-left: 5px;
}

.inp-phone-svg {
    position: absolute;
    transform: translate(-30px, 15px);
}

.inp-zip {
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    width: 40%;
    margin-left: 30px;
}

.inp-zip-1 {
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    width: 83%;
    margin-left: 35px;
}

.inp-sub {
    font-family: 'sans-serif', 'Helvetica';
    background: rgba(90, 16, 148, 0.8);
    border: 1px solid rgba(67, 28, 93, 0.8);
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    width: 39%;
    padding: 15px;
    cursor: pointer;
}

.play-sub {
    font-family: 'sans-serif', 'Helvetica';
    background: rgba(90, 16, 148, 0.8);
    border: 1px solid rgba(67, 28, 93, 0.8);
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    width: 39%;
    padding: 15px;
    cursor: pointer;
}

.lock-patch {
    width: 8%;
}

.box-luck {
    font-family: 'sans-serif', 'Helvetica';
    margin-bottom: 25px;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 20px;
    color: #6B6B6B;
}

.expire {
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    width: 30%;
}

.expire-number {
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    width: 70%;
    margin-left: 14px;
}

.expire-date-box {
    padding-bottom: 30px;
    display: flex;
}

.expire-number-title {
    margin-top: -28px;
    font-family: 'sans-serif', 'Helvetica';
    color: #5A1094;
    font-weight: inherit;
    line-height: 30px;
    margin-left: 15px;
}

/*shop*/
.box-shop {
    box-sizing: border-box;
    width: 50%;
    background: #E6E9F0;
    mix-blend-mode: normal;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu {
    display: flex;
    font-family: 'sans-serif', 'Helvetica';
    margin-top: 25px;
    align-items: flex-start;
}

.menu-box {
    display: flex;
    width: 87%;
    align-items: flex-start;
}

.menu-title {
    margin-left: 10px;
    width: 50%;
}

.title-shop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 96%;
}

.title-shop-ord {
    font-family: 'sans-serif', 'Helvetica';
    color: #5A1094;
    font-size: 16px;
    line-height: 18px;
    margin-left: 22px;
}

.title-shop-ed {
    font-size: 15px;
    line-height: 20px;
    color: #979797;
    cursor: pointer;
    text-decoration: underline;
}

.img-shop {
    display: flex;
    margin-top: 23px;
}

.images {
    padding-left: 20px;
    width: 70px;
}

.sum-title {
    margin-left: 10px;
    width: 73%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #777879;
    line-height: 20px;
    font-family: 'sans-serif', 'Helvetica';
}

.img-shop-title {
    font-family: 'sans-serif', 'Helvetica';
    margin-left: 94px;
    margin-top: -30px;
    font-size: 13px;
    line-height: 15px;
    color: #2B2525;
}

.row {
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #979797;
    margin-top: 15px;
}

.sum {
    font-family: 'sans-serif', 'Helvetica';
    color: #777879;
}

.summ {
    color: #777879;
}

.summ-title {
    margin-top: 10px;

}

.global-sum {
    font-family: 'sans-serif', 'Helvetica';
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    line-height: 20px;
    color: #777879;
}

.global {
    font-family: 'sans-serif', 'Helvetica';
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    line-height: 20px;
    font-weight: bold;
    color: #431C5D;
}

/*end shop*/
.hidden {
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}